body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.new-item-form, .form-row2 {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-row label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-row input[type="text"] {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%; /* Ensures the input is the same width as the container */
  box-sizing: border-box;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 12px;
  width: 100%; /* Makes the Add button the same width as the input field */
  text-align: center;
  box-sizing: border-box;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.header {
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.list li label {
  flex-grow: 1;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.list li input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.list li.completed label {
  color: #28a745;
  text-decoration: line-through;
}

.list li .buttons {
  display: flex;
  align-items: center;
}

.btn-edit {
  background-color: #ffc107;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
  margin: 0 5px; /* Adjust margin to maintain good gaps */
  box-sizing: border-box;
}

.edit-input {
  padding: 8px;
  font-size: 14px;
  width: 70%;
  margin-right: 10px;
}

.btn-save {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}